name: flutter_candlesticks_chart
description: Flutter candlesticks chart widget with support for cursor and events
version: 0.1.1
homepage: https://github.com/tiagofumo/flutter-candlesticks-chart

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.0
  intl: ^0.16.1

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter:
  uses-material-design: true

environment:
  sdk: ">=2.7.0 <3.0.0"